$break-xsmall: 320px;
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1920px;

@font-face {
  font-family: Dream;
  src: url("../fonts/Dreamscape.ttf");
}

@mixin s-flex-item() {
  flex-grow: 1;
  background: none;
  display: flex;
  height: 100%;
  align-items: center;
}

@mixin container() {
  position: absolute;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  right: 0;
  padding-left: inherit;
  padding-right: inherit;
  width: 100% inherit;
  box-sizing: border-box;
  z-index: 20;
  //background-color: rgba(250, 63, 241, 0.9);
}

@mixin glass() {
  //box-sizing: border-box;
  position: relative;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
  background: inherit;
  overflow: hidden;
  border: 1px solid rgba(100, 100, 100, 0.1);
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s ease;
  &:before {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -30px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
    filter: blur(20px);
    z-index: -1;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

.gradient-normal {
  background-image: radial-gradient(
    circle 987px at 99% 2%,
    rgba(22, 183, 229, 1) 0%,
    rgba(9, 54, 103, 1) 90%
  );
}

.gradient-premium {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.gradient-vip {
  background-image: linear-gradient(
    358.3deg,
    rgb(255, 82, 134) 12.9%,
    rgb(250, 71, 250) 134.3%
  );
}

.landing-page {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  .first {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-image: url("../img/firstPlan.png");
    background-position: center;
    background-size: cover;
    z-index: 10;
  }

  .second {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-image: url("../img/secondPlan.png");
    background-position: center;
    background-size: cover;
    z-index: 9;
  }

  .third {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-size: cover;
    z-index: 8;
  }

  .firstPlan {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 10;
  }

  .secondPlan {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 9;
  }

  .thirdPlan {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 7;
  }

  .shadow {
    position: absolute;
    bottom: 100%;
    height: 50vh;
    width: 100%;
    left: 0;
    bottom: -10rem;
    z-index: 20;
    color: white;
    background: linear-gradient(to top, black 60%, transparent);
  }

  .navbar {
    top: 0;
    @include container();
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
    .logo {
      @include s-flex-item();
      background-color: transparent;
      span {
        font-size: 1.5em;
        font-weight: 600;
        letter-spacing: 0.5px;
        padding-right: 0.1rem;
        text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
      }
    }
    .menu {
      flex-grow: 10;
      background-color: blue;
    }
    .buttons {
      @include s-flex-item();
      justify-content: flex-end;
      .btn {
        position: relative;
        height: auto;
        padding: 0.8rem 2rem;
        border-radius: 28px;
        border: none;
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 0.75rem;
        color: white;
        background: inherit;
        overflow: hidden;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
        z-index: 1;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: -5px;
          background: inherit;
          box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
          filter: blur(20px);
          z-index: -1;
        }
        //background: rgba(255, 255, 255, 0.3);
        &:hover {
          background: rgba(255, 28, 244, 0.9);
          box-shadow: 0 0 1rem rgba(128, 21, 122, 1);
        }
      }
    }
  }

  .footer {
    @include container();
    bottom: 0;

    .indicators {
      @include s-flex-item();
      background-color: rgba(0, 0, 0, 0);
      text-align: baseline;
      align-items: baseline;
      span {
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding-left: 4px;
        &:nth-child(2) {
          font-size: 1rem;
          font-weight: 600;
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: flex-end;
      flex-grow: 9;
      background-color: transparent;
      ul.footer-menu {
        display: flex;
        justify-content: center;
        background-color: transparent;
        text-decoration: none;
        list-style: none;
        li.menu-item {
          background-color: rgba(250, 63, 241, 0);
          margin: 0 0.5rem;
          &:nth-child(1):hover {
            text-shadow: 0 10px 15px rgb(0, 255, 119);
          }
          &:nth-child(2):hover {
            text-shadow: 0 10px 15px rgb(0, 47, 255);
          }
          &:nth-child(3):hover {
            text-shadow: 0 10px 15px rgb(255, 0, 242);
          }
          &:nth-child(4):hover {
            text-shadow: 0 10px 15px rgb(0, 204, 255);
          }
          a {
            color: white;
            text-decoration: none;
            &:visited {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .caption {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 6rem;
      text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
  }
}

.dj-section {
  .black-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10rem;
    background: black;
  }
  box-sizing: border-box;
  background-color: black;
  position: relative;
  z-index: 19;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15rem;
  padding-bottom: 7.5rem;
  .dj-box {
    margin-bottom: 15rem;
    margin-top: 7.5rem;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    &:nth-child(2n) {
      flex-direction: row-reverse;
    }
    .content-box {
      justify-content: center;
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
      padding-left: 2rem;

      h5 {
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgba(100, 0, 20, 1);
      }
      p {
        font-size: 1rem;
        font-weight: 200;
        color: rgba(200, 200, 200, 1);
      }
    }
    .image-box {
      min-width: 350px;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}

.glass-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/building.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .glass-nav {
    @include glass();
    width: 95%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-family: Dream;
    font-size: 1.5rem;
    text-shadow: 1px 2px 6px rgba(0, 0, 0, 1);
  }
  .controls {
    width: 90%;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: inherit;
    .track-section {
      width: 100%;
      background: inherit;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 5rem;
      padding-bottom: 2.5rem;
      .mute {
        padding: 0.5rem;
        color: white;
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        &:focus {
          outline: none;
        }

        .fa-volume-mute {
          pointer-events: none;
        }
      }
      .mute.on {
        opacity: 0.5;
      }

      .kick-box {
        position: relative;
        background: inherit;
        padding: 1rem;
        width: 9.2rem;
        height: 9.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          border: 8px solid transparent;
          border-radius: 50%;
          box-shadow: 0 0 20px rgba(0, 255, 255, 1),
            inset 0 0 20px rgba(0, 255, 255, 1);
        }
        #kick-slider {
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          position: absolute;
          // position: relative;
          background: inherit;
          // &::before {
          //   content: "";
          //   position: absolute;
          //   left: 0px;
          //   right: 0px;
          //   top: 0px;
          //   bottom: 0px;
          //   border: 9px solid transparent;
          //   border-radius: 50%;
          //   box-shadow: 0 0 20px rgba(0, 255, 255, 1),
          //     inset 0 0 20px rgba(0, 255, 255, 1);
          // }
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
        }
        .kick-track {
          @include glass();
          position: relative;
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);
          z-index: 2;
          width: 8rem;
          height: 8rem;
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          h5 {
            font-weight: 400;
            letter-spacing: 1px;
          }
          .line {
            margin: 0px auto;
            border: 1px solid white;
            background: inherit;
            width: 5rem;
          }
        }
      }
      .snare-box {
        position: relative;
        background: inherit;
        padding: 1rem;
        width: 9.2rem;
        height: 9.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          border: 8px solid transparent;
          border-radius: 50%;
          box-shadow: 0 0 20px rgba(255, 156, 0, 1),
            inset 0 0 20px rgba(255, 156, 0, 1);
        }
        #snare-slider {
          position: absolute;
          background: inherit;
        }
        .snare-track {
          @include glass();
          position: relative;
          z-index: 2;
          width: 8rem;
          height: 8rem;
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          h5 {
            font-weight: 400;
            letter-spacing: 1px;
          }
          .line {
            margin: 0px auto;
            border: 1px solid white;
            background: inherit;
            width: 5rem;
          }
        }
      }
      .perc-box {
        position: relative;
        background: inherit;
        padding: 1rem;
        width: 9.2rem;
        height: 9.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          border: 8px solid transparent;
          border-radius: 50%;
          box-shadow: 0 0 20px rgba(20, 255, 0, 1),
            inset 0 0 20px rgba(20, 255, 0, 1);
        }
        #perc-slider {
          position: absolute;
          background: inherit;
        }
        .perc-track {
          @include glass();
          position: relative;
          z-index: 2;
          width: 8rem;
          height: 8rem;
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          h5 {
            font-weight: 400;
            letter-spacing: 1px;
          }
          .line {
            margin: 0px auto;
            border: 1px solid white;
            background: inherit;
            width: 5rem;
          }
        }
      }
      .tom-box {
        position: relative;
        background: inherit;
        padding: 1rem;
        width: 9.2rem;
        height: 9.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          border: 8px solid transparent;
          border-radius: 50%;
          box-shadow: 0 0 20px rgba(255, 241, 0, 1),
            inset 0 0 20px rgba(255, 241, 0, 1);
        }
        #tom-slider {
          position: absolute;
          background: inherit;
        }
        .tom-track {
          @include glass();
          position: relative;
          z-index: 2;
          width: 8rem;
          height: 8rem;
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          h5 {
            font-weight: 400;
            letter-spacing: 1px;
          }
          .line {
            margin: 0px auto;
            border: 1px solid white;
            background: inherit;
            width: 5rem;
          }
        }
      }
      .hihat-box {
        position: relative;
        background: inherit;
        padding: 1rem;
        width: 9.2rem;
        height: 9.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          border: 8px solid transparent;
          border-radius: 50%;
          box-shadow: 0 0 20px rgba(255, 0, 196, 1),
            inset 0 0 20px rgba(255, 0, 196, 1);
        }
        #hihat-slider {
          position: absolute;
          background: inherit;
        }
        .hihat-track {
          @include glass();
          position: relative;
          z-index: 2;
          width: 8rem;
          height: 8rem;
          border-radius: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center;
          h5 {
            font-weight: 400;
            letter-spacing: 1px;
          }
          .line {
            margin: 0px auto;
            border: 1px solid white;
            background: inherit;
            width: 5rem;
          }
        }

        // .track-slider {
        //   position: relative;
        //   margin-top: 1rem;
        //   appearance: none;
        //   background: rgba(0, 255, 255, 1);
        //   outline: none;
        //   transition: all 0.5s ease;
        //   box-shadow: 0 3px 15px rgba(0, 255, 255, 0.5);
        //   width: 100%;
        //   height: 15px;
        //   &::-webkit-slider-thumb {
        //     position: relative;
        //     appearance: none;
        //     width: 40px;
        //     height: 40px;
        //     background: white;
        //     border-radius: 50%;
        //     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
        //     cursor: pointer;
        //     &::before {
        //       content: "elo";
        //       position: absolute;
        //       top: 0;
        //       left: 0;
        //       z-index: 10;
        //       width: 100px;
        //       height: 100px;
        //       background: red;
        //     }
        //   }
        // }
      }
    }
    .play-box {
      //@include glass();
      z-index: 1;
      background: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 2.5rem;
      flex-direction: column;
      width: 100%;

      .play {
        width: 7rem;
        padding: 1rem 2rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        background: rgb(255, 255, 255);
        background: radial-gradient(
          circle,
          rgba(255, 255, 255, 1) 0%,
          rgb(207, 207, 207) 100%
        );
        //background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
        border: none;
        color: rgb(0, 0, 0);
        letter-spacing: 1px;
        //text-shadow: 0 0 0.5rem rgba(30, 255, 0, 0.5);
        border-radius: 5px;
        z-index: 1;
        margin-top: 2rem;
        transition: 0.5s;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.7);
        &:focus {
          outline: none;
        }
        &:hover {
          box-shadow: 0 0 15px rgb(0, 255, 200);
        }
      }
      .play.active {
        background: rgb(0, 255, 200);
        background: radial-gradient(
          circle,
          rgb(139, 252, 227) 0%,
          rgb(0, 216, 245) 100%
        );
        color: rgb(0, 0, 0);
        box-shadow: 0 0 1rem rgb(1, 184, 144);
      }
      h3 {
        font-weight: 500;
        span {
          font-size: 2rem;
          text-shadow: 0 0px 1rem rgba(0, 0, 0, 1);
        }
        text-shadow: 5px 0px 0.5rem rgba(0, 0, 0, 1);
      }
      p {
        font-weight: 300;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
        letter-spacing: 1px;
      }
      .tempo-slider {
        margin: 1rem;
        appearance: none;
        height: 7px;
        width: 20%;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        &::-webkit-slider-thumb {
          appearance: none;
          width: 40px;
          height: 20px;
          background: rgb(0, 255, 200);
          box-shadow: 0 0 6px rgb(0, 0, 0);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .console-section {
    width: 100%;
    z-index: 1;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    // .play {
    //   width: 7rem;
    //   padding: 1rem 2rem;
    //   font-size: 1rem;
    //   text-transform: uppercase;
    //   font-weight: bold;
    //   background: rgb(255, 255, 255);
    //   background: radial-gradient(
    //     circle,
    //     rgba(255, 255, 255, 1) 0%,
    //     rgb(207, 207, 207) 100%
    //   );
    //   //background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
    //   border: none;
    //   color: rgb(0, 0, 0);
    //   letter-spacing: 1px;
    //   //text-shadow: 0 0 0.5rem rgba(30, 255, 0, 0.5);
    //   border-radius: 5px;
    //   z-index: 1;
    //   margin-bottom: 2rem;
    //   transition: 0.5s;
    //   &:focus {
    //     outline: none;
    //   }
    //   &:hover {
    //     box-shadow: 0 0 15px rgb(0, 255, 200);
    //   }
    // }
    // .play.active {
    //   background: rgb(0, 255, 200);
    //   background: radial-gradient(
    //     circle,
    //     rgb(139, 252, 227) 0%,
    //     rgb(0, 216, 245) 100%
    //   );
    //   color: rgb(0, 0, 0);
    //   box-shadow: 0 0 1rem rgb(1, 184, 144);
    // }
    .console {
      @include glass();
      border-radius: 20px;
      width: fit-content;
      height: auto;
      padding: 5rem;
      display: flex;
      //flex-direction: column;
      flex-direction: row;
      margin-bottom: 2rem;
      .kick,
      .snare,
      .hihat,
      .perc,
      .tom {
        display: flex;
        //flex-direction: row;
        flex-direction: column;
        .pad {
          margin: 5px;
          width: 5rem;
          height: 5rem;
          background: rgb(255, 255, 255);
          background: radial-gradient(
            circle,
            rgba(255, 255, 255, 1) 0%,
            rgba(209, 209, 209, 1) 100%
          );
          border: 1px solid black;
          border-radius: 0.5rem;
          cursor: pointer;
        }
      }
      .kick {
        .kick-pad.active {
          background: rgb(190, 255, 255);
          background: radial-gradient(
            circle,
            rgba(190, 255, 255, 1) 0%,
            rgba(130, 255, 255, 1) 100%
          );
        }
        .kick-pad.music {
          animation: flashBlue 1s;
        }
      }
      .snare {
        .snare-pad.active {
          background: rgb(255, 228, 196);
          background: radial-gradient(
            circle,
            rgba(255, 228, 196, 1) 0%,
            rgba(255, 196, 104, 1) 100%
          );
        }
        .snare-pad.music {
          animation: flashOrange 1s;
        }
      }
      .perc {
        .perc-pad.active {
          background: rgb(210, 255, 203);
          background: radial-gradient(
            circle,
            rgba(210, 255, 203, 1) 0%,
            rgba(140, 255, 130, 1) 100%
          );
        }
        .perc-pad.music {
          animation: flashGreen 1s;
        }
      }
      .tom {
        .tom-pad.active {
          background: rgb(255, 251, 203);
          background: radial-gradient(
            circle,
            rgba(255, 251, 203, 1) 0%,
            rgba(255, 248, 130, 1) 100%
          );
        }
        .tom-pad.music {
          animation: flashYellow 1s;
        }
      }
      .hihat {
        .hihat-pad.active {
          background: rgb(255, 209, 249);
          background: radial-gradient(
            circle,
            rgba(255, 209, 249, 1) 0%,
            rgba(255, 130, 226, 1) 100%
          );
        }
        .hihat-pad.music {
          animation: flashPink 1s;
        }
      }
    }
  }
}

@keyframes flashBlue {
  0% {
    background: rgb(190, 255, 255);
    background: radial-gradient(
      circle,
      rgba(190, 255, 255, 1) 0%,
      rgba(130, 255, 255, 1) 100%
    );
  }
  50% {
    background: rgb(143, 255, 255);
    background: radial-gradient(
      circle,
      rgba(143, 255, 255, 1) 0%,
      rgba(0, 255, 255, 1) 100%
    );
    box-shadow: 0 0 1rem rgba(0, 255, 255, 1);
    border-color: rgba(0, 255, 255, 1);
  }
  100% {
    background: rgb(190, 255, 255);
    background: radial-gradient(
      circle,
      rgba(190, 255, 255, 1) 0%,
      rgba(130, 255, 255, 1) 100%
    );
  }
}

@keyframes flashOrange {
  0% {
    background: rgb(255, 228, 196);
    background: radial-gradient(
      circle,
      rgba(255, 228, 196, 1) 0%,
      rgba(255, 196, 104, 1) 100%
    );
  }
  50% {
    background: rgb(255, 200, 135);
    background: radial-gradient(
      circle,
      rgba(255, 200, 135, 1) 0%,
      rgba(255, 156, 0, 1) 100%
    );
    box-shadow: 0 0 1rem rgba(255, 156, 0, 1);
    border-color: rgba(255, 156, 0, 1);
  }
  100% {
    background: rgb(255, 228, 196);
    background: radial-gradient(
      circle,
      rgba(255, 228, 196, 1) 0%,
      rgba(255, 196, 104, 1) 100%
    );
  }
}

@keyframes flashGreen {
  0% {
    background: rgb(210, 255, 203);
    background: radial-gradient(
      circle,
      rgba(210, 255, 203, 1) 0%,
      rgba(140, 255, 130, 1) 100%
    );
  }
  50% {
    background: rgb(153, 255, 137);
    background: radial-gradient(
      circle,
      rgba(153, 255, 137, 1) 0%,
      rgba(20, 255, 0, 1) 100%
    );
    box-shadow: 0 0 1rem rgba(20, 255, 0, 1);
    border-color: rgba(20, 255, 0, 1);
  }
  100% {
    background: rgb(210, 255, 203);
    background: radial-gradient(
      circle,
      rgba(210, 255, 203, 1) 0%,
      rgba(140, 255, 130, 1) 100%
    );
  }
}

@keyframes flashYellow {
  0% {
    background: rgb(255, 251, 203);
    background: radial-gradient(
      circle,
      rgba(255, 251, 203, 1) 0%,
      rgba(255, 248, 130, 1) 100%
    );
  }
  50% {
    background: rgba(255, 247, 153, 1);
    background: radial-gradient(
      circle,
      rgba(255, 244, 116, 1) 0%,
      rgba(255, 241, 0, 1) 100%
    );
    box-shadow: 0 0 1rem rgba(255, 247, 153, 1);
    border-color: rgba(255, 241, 0, 1);
  }
  100% {
    background: rgb(255, 251, 203);
    background: radial-gradient(
      circle,
      rgba(255, 251, 203, 1) 0%,
      rgba(255, 248, 130, 1) 100%
    );
  }
}

@keyframes flashPink {
  0% {
    background: rgb(255, 209, 249);
    background: radial-gradient(
      circle,
      rgba(255, 209, 249, 1) 0%,
      rgba(255, 130, 226, 1) 100%
    );
  }
  50% {
    background: rgb(255, 159, 242);
    background: radial-gradient(
      circle,
      rgba(255, 159, 242, 1) 0%,
      rgba(255, 0, 196, 1) 100%
    );
    box-shadow: 0 0 1rem rgba(255, 0, 196, 1);
    border-color: rgba(255, 0, 196, 1);
  }
  100% {
    background: rgb(255, 209, 249);
    background: radial-gradient(
      circle,
      rgba(255, 209, 249, 1) 0%,
      rgba(255, 130, 226, 1) 100%
    );
  }
}

@media (min-width: 1920px) {
  .landing-page {
    .caption {
      h1 {
        font-size: 10rem;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media screen and (max-width: 1168px) {
  .landing-page {
    .navbar {
      .logo {
        span {
          font-size: 1.5rem;
        }
      }
    }
    .footer {
      .social-media {
        ul.footer-menu {
          li.menu-item {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .landing-page {
    /* 
   background-image: url("../img/lp.png");
    background-attachment: scroll;
    img {
      display: none;
    }
    */
    .navbar {
      .logo {
        span {
          font-size: 1.3rem;
        }
      }
    }
    .footer {
      .social-media {
        ul.footer-menu {
          li.menu-item {
            font-size: 0.8rem;
          }
        }
      }
    }
    .caption {
      h1 {
        font-size: 5rem;
      }
    }
  }

  .dj-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 7.5rem;
    .dj-box {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 7.5rem;
      margin-bottom: 7.5rem;
      width: 60%;
      &:nth-child(2n) {
        flex-direction: column;
      }
      .content-box {
        margin-bottom: 2rem;
        width: 100%;
        h1 {
          font-size: 2rem;
        }
        p {
          font-size: 1rem;
        }
      }
      .image-box {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .landing-page {
    .navbar {
      .logo {
        span {
          font-size: 1.5rem;
        }
      }
    }
    .caption {
      h1 {
        font-size: 4rem;
      }
    }
    .footer {
      display: none;
    }
  }

  .dj-section {
    .dj-box {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 7.5rem;
      margin-bottom: 7.5rem;
      &:nth-child(2n) {
        flex-direction: column;
      }
      .content-box {
        margin-bottom: 2rem;
        width: 100%;
        h1 {
          font-size: 1.75rem;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 0.8rem;
        }
      }
      .image-box {
        width: 100%;
      }
    }
  }

  .glass-section {
    .glass {
      display: none;
    }
  }
}

@media screen and (max-width: 480px) {
  .landing-page {
    .navbar {
      .logo {
        span {
          font-size: 1rem;
        }
      }
      .btn {
        display: none;
      }
    }
    .caption {
      h1 {
        font-size: 2.5rem;
      }
    }
    .footer {
      display: none;
    }
  }

  .dj-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .dj-box {
      margin-top: 5rem;
      margin-bottom: 5rem;

      .content-box {
        padding: 0;
        margin-bottom: 1.5rem;
        h5 {
          display: none;
        }
        h1 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 10px;
        }
      }
      .image-box {
        min-width: 100%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .landing-page {
    .navbar {
      .logo {
        span {
          font-size: 1rem;
        }
      }
    }
    .caption {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  .dj-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    .dj-box {
      margin-top: 5rem;
      margin-bottom: 5rem;

      .content-box {
        p {
          font-size: 8px;
        }
      }
    }
  }
}

// SLIDERS from roundSliders library

.rs-handle-dot {
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.5) !important;
  cursor: pointer !important;
  border: none !important;
  padding: 9px !important;
}

.rs-handle-dot:after {
  border: none !important;
}
