@mixin s-flex-item() {
  flex-grow: 1;
  background: none;
  display: flex;
  height: 100%;
  align-items: center;
}

@mixin container() {
  position: absolute;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  right: 0;
  padding-left: inherit;
  padding-right: inherit;
  width: 100% inherit;
  box-sizing: border-box;
  z-index: 20;
  //background-color: rgba(250, 63, 241, 0.9);
}

* {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
}

.landing-page {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  //background-image: url("../img/lp.jpg");
  //background-position: center center;
  //background-size: cover;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  .firstPlan {
    position: absolute;
    width: 100%;
    //bottom: -5rem;
    left: 0;
    top: 0;
    z-index: 10;
  }

  .secondPlan {
    position: absolute;
    width: 100%;
    //bottom: -5rem;
    left: 0;
    top: 0;
    z-index: 9;
  }

  .thirdPlan {
    position: absolute;
    width: 100%;
    //bottom: -5rem;
    left: 0;
    top: 0;
    z-index: 8;
  }

  .shadow {
    position: absolute;
    bottom: 100%;
    height: 50vh;
    width: 100%;
    left: 0;
    bottom: -10rem;
    z-index: 20;
    color: white;
    background: linear-gradient(to top, black 60%, transparent);
  }

  .navbar {
    top: 0;
    @include container();
    //background: linear-gradient(to bottom, rgba(0, 0, 0, 0.05), transparent);
    .logo {
      @include s-flex-item();
      background-color: transparent;
      span {
        font-size: 1.75rem;
        font-weight: 600;
        letter-spacing: 0.5px;
        padding-right: 0.1rem;
        text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
      }
    }
    .menu {
      flex-grow: 10;
      background-color: blue;
    }
    .buttons {
      @include s-flex-item();
      justify-content: flex-end;
      .btn {
        height: auto;
        padding: 0.8rem 2rem;
        border-radius: 28px;
        border: none;
        background: rgba(255, 255, 255, 0.3);
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 0.75rem;
        color: white;
        &:hover {
          background: rgba(250, 63, 241, 0.9);
          box-shadow: 0 0 1.5rem rgba(255, 53, 245, 0.6);
        }
      }
    }
  }

  .footer {
    @include container();
    bottom: 0;

    .indicators {
      @include s-flex-item();
      background-color: rgba(0, 0, 0, 0);
      text-align: baseline;
      align-items: baseline;
      span {
        font-size: 2.5rem;
        font-weight: 600;
        letter-spacing: 1px;
        padding-left: 4px;
        &:nth-child(2) {
          font-size: 1rem;
          font-weight: 600;
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
    .social-media {
      display: flex;
      justify-content: flex-end;
      flex-grow: 9;
      background-color: transparent;
      ul.footer-menu {
        display: flex;
        justify-content: center;
        background-color: transparent;
        text-decoration: none;
        li.menu-item {
          background-color: rgba(250, 63, 241, 0);
          margin: 0 0.5rem;
        }
      }
    }
  }

  .caption {
    z-index: 9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1 {
      font-size: 6rem;
      text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
  }
}

.dj-section {
  background-color: black;
  position: absolute;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .dj-box {
    margin: auto;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .content-box {
      justify-content: center;
      width: 60%;
      display: flex;
      flex-direction: column;
      padding-right: 2rem;

      h5 {
        font-size: 1rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: rgba(100, 0, 20, 1);
      }
      p {
        font-size: 1rem;
        font-weight: 200;
        color: rgba(200, 200, 200, 1);
      }
    }
    .image-box {
      min-width: 350px;
      width: 50%;
      img {
        width: 100%;
      }
    }
  }
}
