* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  color: white;
  overflow-x: hidden;
}

.landing-page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.landing-page .first {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  background-image: url("../img/firstPlan.png");
  background-position: center;
  background-size: cover;
  z-index: 10;
}

.landing-page .second {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  background-image: url("../img/secondPlan.png");
  background-position: center;
  background-size: cover;
  z-index: 9;
}

.landing-page .third {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-size: cover;
  z-index: 8;
}

.landing-page .firstPlan {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 10;
}

.landing-page .secondPlan {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 9;
}

.landing-page .thirdPlan {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 7;
}

.landing-page .shadow {
  position: absolute;
  bottom: 100%;
  height: 50vh;
  width: 100%;
  left: 0;
  bottom: -10rem;
  z-index: 20;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, black), to(transparent));
  background: linear-gradient(to top, black 60%, transparent);
}

.landing-page .navbar {
  top: 0;
  position: absolute;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  padding-left: inherit;
  padding-right: inherit;
  width: 100% inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 20;
}

.landing-page .navbar .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.landing-page .navbar .logo span {
  font-size: 1.75rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-right: 0.1rem;
  text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);
}

.landing-page .navbar .menu {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  background-color: blue;
}

.landing-page .navbar .buttons {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.landing-page .navbar .buttons .btn {
  position: relative;
  height: auto;
  padding: 0.8rem 2rem;
  border-radius: 28px;
  border: none;
  letter-spacing: 0.5px;
  font-weight: 300;
  font-size: 0.75rem;
  color: white;
  background: inherit;
  overflow: hidden;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.landing-page .navbar .buttons .btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -5px;
  background: inherit;
  -webkit-box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 50px rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  z-index: -1;
}

.landing-page .navbar .buttons .btn:hover {
  background: rgba(255, 28, 244, 0.9);
  -webkit-box-shadow: 0 0 1rem #80157a;
          box-shadow: 0 0 1rem #80157a;
}

.landing-page .footer {
  position: absolute;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  padding-left: inherit;
  padding-right: inherit;
  width: 100% inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 20;
  bottom: 0;
}

.landing-page .footer .indicators {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0);
  text-align: baseline;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.landing-page .footer .indicators span {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-left: 4px;
}

.landing-page .footer .indicators span:nth-child(2) {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
}

.landing-page .footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
  background-color: transparent;
}

.landing-page .footer .social-media ul.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  text-decoration: none;
  list-style: none;
}

.landing-page .footer .social-media ul.footer-menu li.menu-item {
  background-color: rgba(250, 63, 241, 0);
  margin: 0 0.5rem;
}

.landing-page .footer .social-media ul.footer-menu li.menu-item:nth-child(1):hover {
  text-shadow: 0 10px 15px #00ff77;
}

.landing-page .footer .social-media ul.footer-menu li.menu-item:nth-child(2):hover {
  text-shadow: 0 10px 15px #002fff;
}

.landing-page .footer .social-media ul.footer-menu li.menu-item:nth-child(3):hover {
  text-shadow: 0 10px 15px #ff00f2;
}

.landing-page .footer .social-media ul.footer-menu li.menu-item:nth-child(4):hover {
  text-shadow: 0 10px 15px #00ccff;
}

.landing-page .caption {
  z-index: 9;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.landing-page .caption h1 {
  font-size: 6rem;
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}

.dj-section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: black;
  position: relative;
  z-index: 19;
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 15rem;
  padding-bottom: 7.5rem;
}

.dj-section .black-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 10rem;
  background: black;
}

.dj-section .dj-box {
  margin-bottom: 15rem;
  margin-top: 7.5rem;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.dj-section .dj-box:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.dj-section .dj-box .content-box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2rem;
  padding-left: 2rem;
}

.dj-section .dj-box .content-box h5 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #640014;
}

.dj-section .dj-box .content-box p {
  font-size: 1rem;
  font-weight: 200;
  color: #c8c8c8;
}

.dj-section .dj-box .image-box {
  min-width: 350px;
  width: 50%;
}

.dj-section .dj-box .image-box img {
  width: 100%;
}

.glass-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../img/building.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 20;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.glass-section .glass {
  position: relative;
  width: 30rem;
  height: 20rem;
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background: inherit;
  overflow: hidden;
  border-radius: 25px;
}

.glass-section .glass:before {
  content: "";
  position: absolute;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -30px;
  -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.1);
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

@media (min-width: 1920px) {
  .landing-page .caption h1 {
    font-size: 10rem;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  }
}

@media screen and (max-width: 1168px) {
  .landing-page .navbar .logo span {
    font-size: 1.5rem;
  }
  .landing-page .footer .social-media ul.footer-menu li.menu-item {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 992px) {
  .landing-page {
    /* 
   background-image: url("../img/lp.png");
    background-attachment: scroll;
    img {
      display: none;
    }
    */
  }
  .landing-page .navbar .logo span {
    font-size: 1.3rem;
  }
  .landing-page .footer .social-media ul.footer-menu li.menu-item {
    font-size: 0.8rem;
  }
  .landing-page .caption h1 {
    font-size: 5rem;
  }
  .dj-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 7.5rem;
  }
  .dj-section .dj-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
    width: 60%;
  }
  .dj-section .dj-box:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dj-section .dj-box .content-box {
    margin-bottom: 2rem;
    width: 100%;
  }
  .dj-section .dj-box .content-box h1 {
    font-size: 2rem;
  }
  .dj-section .dj-box .content-box p {
    font-size: 1rem;
  }
  .dj-section .dj-box .image-box {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .landing-page .navbar .logo span {
    font-size: 1.5rem;
  }
  .landing-page .caption h1 {
    font-size: 4rem;
  }
  .landing-page .footer {
    display: none;
  }
  .dj-section .dj-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 7.5rem;
    margin-bottom: 7.5rem;
  }
  .dj-section .dj-box:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dj-section .dj-box .content-box {
    margin-bottom: 2rem;
    width: 100%;
  }
  .dj-section .dj-box .content-box h1 {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .dj-section .dj-box .content-box p {
    font-size: 0.8rem;
  }
  .dj-section .dj-box .image-box {
    width: 100%;
  }
  .glass-section .glass {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .landing-page .navbar .logo span {
    font-size: 1rem;
  }
  .landing-page .navbar .btn {
    display: none;
  }
  .landing-page .caption h1 {
    font-size: 2.5rem;
  }
  .landing-page .footer {
    display: none;
  }
  .dj-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .dj-section .dj-box {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .dj-section .dj-box .content-box {
    padding: 0;
    margin-bottom: 1.5rem;
  }
  .dj-section .dj-box .content-box h5 {
    display: none;
  }
  .dj-section .dj-box .content-box h1 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .dj-section .dj-box .content-box p {
    font-size: 10px;
  }
  .dj-section .dj-box .image-box {
    min-width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .landing-page .navbar .logo span {
    font-size: 1rem;
  }
  .landing-page .caption h1 {
    font-size: 1.5rem;
  }
  .dj-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .dj-section .dj-box {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .dj-section .dj-box .content-box p {
    font-size: 8px;
  }
}
/*# sourceMappingURL=style.css.map */